.inte{
    height: 100vh;
    min-height: 100vh;
    justify-content: space-between;
    padding: 80px 0% 0%;
}

.inte-ser{
    width: 50%;
    height: 100%;
    background-color: var(--grey0);
    padding: 5% 7%;
}