.team-images{
    display: flex;
}
.main-image{
    width: 56rem;
    height: 40rem;
}
.main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.other-image{
    display: flex;
    flex-direction: column;
    width: 20rem;
}
.o-img{
    height: 10rem;
}
.o-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width:900px) {
    .team-images{
        flex-direction: column;
    }
    .main-image{
        width: auto;
    }
    .other-image{
        flex-direction: row;
        width: auto;
    }
}